@import '_normalize.css';
@import 'variables.scss';


body {
    background-color: $background-color;
    color: $white;
    font-family: $primary-font;
}

.wrapper {
    padding: 16px;
    margin: auto;
    max-width: 1780px;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
   
    @media (min-width: 270px) {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        text-align: center;

        @media (min-width: 1280px) {
            align-items: center;
            display: flex;
            gap: 10px;
            justify-content: space-between;
        }
    }

    &__title {
        display: none;

        @media (min-width: 1280px) {
            display: block;
            font-size: 22px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;

        .button {
            border: 4px;
            padding: 16px;

            &:hover {
                background-color: $white;
                color: $background-color;
            }
        }
    }
}

.main {
    margin-top: 60px;

    &__title {
        font-size: 26px;

        &__number {
            &::before {
                content: "3";

                @media (min-width: 1280px) {
                    content: "5";
                }
            }

        }
    }

    &__top-section {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 16px;
       
        @media (min-width: 650px) {
            flex-direction: row-reverse;
            justify-content: left;
        }
    }

    &__top-item {
        img {
            max-width: 100%;
            min-width: 225px
        }

        &:nth-child(-n+2) {
            display: none;
        }

        @media (min-width: 1280px) {
            &:nth-child(-n+2) {
                display: block;
            }
        }
    }

    &__section-title {
        margin-top: 42px;
        margin-bottom: 6px;
        font-size: 26px;
    }

    &__first-section,
    &__second-section {
        .item {
            &__covers {
                width: 100%;
            }
        }

        @media (min-width: 650px) {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            gap: 4px;

            .item {
                flex: 1;

                &:hover {
                    flex: 1.2;
                }

                &__covers {
                    min-width: 250px;
                }
            }
        }

        @media (min-width: 1024px) {
            display: grid;
            gap: 0;
            grid-template-columns: repeat(4, minmax(250px, 1fr));
            grid-template-rows: 1fr;
           
            .item + .item {
                padding-left: 4px;
            }

            .item {
                padding-bottom: 6px;
            }

            .item5 {
                grid-column: 1 / 3;
            }

            .item6 {
                grid-column: 3 / 6;
            }
        }

        @media (min-width: 1280px) {
            display: flex;
            flex-wrap: nowrap;

            .item {
                &__covers {
                    min-width: 0;
                }
            }
        }
    }
}

.footer {
    padding: 6px 0;
    text-align: center;
    
    span {
        line-height: 2px;
    }
}